.rs-picker-toggle{
    font-size: 1.2em !important;
    padding: 0.75em 1.8em !important;
}
.rs-picker-toggle-caret{
    font-size: 2em !important;
    margin-top: -0.03em !important;
    height: 21px !important;
}
.rs-picker-toggle-clean{
    font-size: 1.2em !important;
    margin: 0.01em 1em 0em 0em !important;
}
.rs-picker-toggle-value{
    color: #093F58 !important;
}
.rs-btn-primary{
    background-color: #31363F !important;
}
.rs-calendar-table-cell-selected .rs-calendar-table-cell-content{
    background-color: #31363F !important
}
.rs-calendar-table-cell-in-range:before{
    background-color: #31363f42 !important;
}
.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
    box-shadow: inset 0 0 0 1px #31363F !important;
}
.rs-picker-menu .rs-calendar .rs-calendar-table-cell:hover .rs-calendar-table-cell-content{
    color: white !important;
    background-color: #31363F !important;
}
.rs-btn-link{
    color: #31363F !important;
}
.rs-picker-daterange-menu{
    z-index: 100000;
}

@media screen and (min-width: 900px){
    .rs-picker-daterange{
        width: 40vw;
        max-width: 35em;
    }
    .rs-picker-toggle-caret{
        margin-top: 0.05em !important;
    }
    .rs-picker-toggle-clean{
        margin: 0.15em 1em 0em 0em !important;
    }
}

@media screen and (max-width: 900px){
    .rs-picker-toggle{
        padding: 0.5em !important;
    }
}
